* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --dark: #000;
  --light: #fff;
  --primary: #225e25;
  --secondary: #503175;
  --tertiary: #d21d23;
}

body {
  background: linear-gradient(
    107.56deg,
    rgba(67, 181, 73, 0.33) 0%,
    rgba(80, 49, 117, 0.5) 48.96%,
    rgba(210, 29, 35, 0.5) 100%
  );
}

.home-style {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background: #fff;
}

/* NAV */

.navbar {
  background: transparent;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  align-content: center;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-picture {
  height: 60px;
}

.logo-title {
  margin: 0.5rem 0 0 2rem;
}

.nav-catchymotto {
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

.nav-catchymotto span {
  margin: 2px;
}

.train {
  color: var(--tertiary);
}

.play {
  color: var(--primary);
}

.lounge {
  color: var(--secondary);
}

/* HEADER */

.header-container {
  width: 100%;
}

.promo-video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  opacity: 0.5;
  border-bottom: 2px solid black;
}

/* PROMO */

.promo-container {
  width: 100%;
  text-align: center;
  font-family: Oswald, sans-serif;
  padding: 2rem;
}

.promo-covid-title {
  color: var(--secondary);
  font-size: 45px;
  margin: 0 0 1rem 0;
}

.promo-covid-description {
  font-family: "Open Sans", sans-serif;
  line-height: 25pt;
  margin: 0 0 1rem 0;
}

.thank-you {
  color: red;
}

/* ABOUT PROMO */

.about-promo-top {
  border-top: 2px solid grey;
  padding: 1rem;
  /* background: rgba(207, 207, 207, 0.5); */
  background: linear-gradient(
    107.56deg,
    rgba(67, 181, 73, 0.33) 0%,
    rgba(210, 29, 35, 0.5) 100%,
    rgba(80, 49, 117, 0.5) 48.96%
  );
}

.left-content {
  position: relative;
  display: inline-block;
  width: 47%;
  margin: 1rem;
}

.shBall-image {
  background-image: url("./images/shBall.jpg");
}

.hover-overlay-ball-image,
.hover-overlay-bar-image {
  border-top: 4px solid var(--tertiary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  flex-direction: column;
  opacity: 0;
  transition: all 0.8s ease;
}

.hover-overlay-ball-image > *,
.hover-overlay-bar-image > * {
  transform: translateY(20px);
  transition: transform 0.8s;
}

.hover-overlay-ball-image:hover > *,
.hover-overlay-bar-image:hover > * {
  transform: translateY(0);
}

.hover-overlay-ball-image:hover,
.hover-overlay-bar-image:hover {
  opacity: 1;
}

.hover-overlay-ball-image,
.hover-overlay-bar-image {
  font-size: 1.25em;
  padding: 1rem;
}
.shBall-image,
.shBar-image {
  min-height: 500px;
  background-size: cover;
}

.right-content {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 47%;
}

.shBar-image {
  background-image: url("./images/sh-bar.jpg");
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .logo-picture {
    height: 50px;
  }

  .nav-catchymotto span {
    display: none;
  }

  .promo-container {
    padding: 1rem;
  }

  .promo-covid-description {
    font-size: 1rem;
  }
}

@media (max-width: 459px) {
  .logo-picture {
    display: none;
  }
}
