* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: #000;
  --light: #fff;
  --primary: #225e25;
  --secondary: #503175;
  --tertiary: #d21d23;
}

body {
  background: linear-gradient(
    107.56deg,
    rgba(67, 181, 73, 0.33) 0%,
    rgba(80, 49, 117, 0.33) 48.96%,
    rgba(210, 29, 35, 0.33) 100%
  );
}

/* NAV */

.navbar {
  background: transparent;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  align-content: center;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

.hamburger {
  margin: 1rem;
  cursor: pointer;
  z-index: 20;
}

.hamburger:hover div {
  transition: 250ms all ease-out;
  background-color: var(--tertiary);
}

.hamburger div {
  width: 35px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  margin: 0.5rem;
}

.logo-picture {
  height: 60px;
}

.logo-title {
  margin: 0.5rem 0 0 2rem;
}

.nav-catchymotto {
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

.nav-catchymotto span {
  margin: 2px;
}

.train {
  color: var(--tertiary);
}

.play {
  color: var(--primary);
}

.lounge {
  color: var(--secondary);
}

/* HEADER */

.header-container {
  width: 100%;
}

.promo-video {
  width: 100%;
  object-fit: contain;
  opacity: 0.5;
  position: fixed;
}
