* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: linear-gradient(
    107.56deg,
    rgba(67, 181, 73, 0.33) 0%,
    rgba(80, 49, 117, 0.5) 48.96%,
    rgba(210, 29, 35, 0.5) 100%
  );
  min-height: 100%;
  padding-bottom: 300px;
  position: relative;
}

:root {
  --dark: #000;
  --light: #fff;
  --primary: #225e25;
  --secondary: #503175;
  --tertiary: #d21d23;
}

.home-style {
  /* background-color: rgba(255, 255, 255, 0.5); */
  min-height: 100vh;
}

/* NAV */

.navbar {
  background: white;
  border-bottom: 4px solid black;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  align-content: center;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-picture {
  height: 60px;
}

.logo-title {
  margin: 0.5rem 0 0 2rem;
}

.nav-catchymotto {
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

.nav-catchymotto span {
  margin: 2px;
}

.train {
  color: var(--tertiary);
}

.play {
  color: var(--primary);
}

.lounge {
  color: var(--secondary);
}

/* HEADER */

.header-container {
  width: 100%;
}

.promo-video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  opacity: 0.5;
  border-bottom: 2px solid black;
}

/* PROMO */

.promo-container {
  width: 100%;
  text-align: center;
  font-family: Oswald, sans-serif;
  padding: 2rem;
  background: #fff;
}

.promo-covid-title {
  color: var(--secondary);
  font-size: 45px;
  margin: 0 0 1rem 0;
}

.promo-covid-description {
  font-family: "Open Sans", sans-serif;
  line-height: 25pt;
  margin: 0 0 1rem 0;
}

.thank-you {
  font-size: 2rem;
  color: red;
  font-family: Oswald, sans-serif;
}

/* ABOUT PROMO */

.bacgrko {
  background: linear-gradient(
    107.56deg,
    rgba(67, 181, 73, 0.33) -40%,
    rgba(80, 49, 117, 0.33) 70.96%,
    rgba(210, 29, 35, 0.33) 20%
  );
}

.about-promo-top {
  border-top: 2px solid grey;
  /* padding: 1rem 1rem 0 1rem; */
  /* background: #cfcfcf; */
  /* background-image: url(./images/backgroundhope.png); */
  background-size: cover;
  /* background: rgba(207, 207, 207, 0.7); */
  /* background: linear-gradient(
    107.56deg,
    rgba(67, 181, 73, 0.33) 0%,
    rgba(80, 49, 117, 0.5) 48.96%,
    rgba(210, 29, 35, 0.5) 100%
  ); */
}

.left-content {
  position: relative;
  display: inline-block;
  width: 47%;
  border-top: 8px solid var(--primary);
  margin: 1rem;
}

.shBall-image {
  background-image: url("./images/shBall.jpg");
}

.hover-overlay-ball-image,
.hover-overlay-bar-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  flex-direction: column;
  opacity: 0;
  transition: all 0.8s ease;
  font-size: 1.25em;
  padding: 1rem;
}

.hover-overlay-ball-image > *,
.hover-overlay-bar-image > * {
  transform: translateY(20px);
  transition: transform 0.8s;
}

.hover-overlay-ball-image:hover > *,
.hover-overlay-bar-image:hover > * {
  transform: translateY(0);
}

.hover-overlay-ball-image:hover,
.hover-overlay-bar-image:hover {
  opacity: 1;
}

.shBall-image,
.shBar-image {
  min-height: 500px;
  background-size: cover;
}

.right-content {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 47%;
  border-top: 8px solid var(--secondary);
}

.bar-title,
.ball-title {
  font-family: "Oswald", sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 1200;
  font-size: 2rem;
  color: var(--light);
  position: absolute;
  bottom: -3%;
  left: 50%;
  transform: translateX(-50%);
}

.shBar-image {
  background-image: url("./images/sh-bar.jpg");
}

/* LEAGUE PROMO */

.background-image {
  min-height: 400px;
  background-image: url("./images/sh-players.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.league-text {
  color: white;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.league-text h1 {
  font-size: 6rem;
}

.league-text h2 {
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.league-button,
.signup-form button {
  padding: 10px 20px;
  margin: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  background: rgba(67, 181, 73, 0.8);
  font-family: "Bebas Neue", cursive;
  font-size: 1.2em;
  transition: 0.1s;
}

.league-button i,
.signup-form button i {
  margin-right: 5px;
}

.league-button:hover,
.signup-form button:hover {
  color: white;
}

/* SIGN UP */
.signup-container {
  padding: 2rem;
  text-align: center;
  /* background-image: url("./images/backgroundhope.png"); */
  background-position: center;
  background-repeat: no-repeat;
}

.signup-form input {
  width: 60%;
  padding: 10px 20px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2em;
}

.signup-container h2 {
  font-size: 3rem;
  color: black;
  font-family: "Bebas Neue", cursive;
}

.signup-container h2 i {
  margin: 0 4px 0 4px;
  color: var(--tertiary);
}

/* FOOTER */

.footer-container {
  border-top: 4px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-left {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-evenly;
  font-family: "Bebas Neue", cursive;
  color: var(--tertiary);
}

.footer-left div a,
.footer-left a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: 800;
}

.footer-left div a:hover,
.footer-left a:hover {
  color: black;
}

.directions {
  font-weight: 700;
  text-align: center;
  font-size: 1.25em;
  color: var(--secondary);
}

.email {
  text-decoration: none;
  font-size: 1.25em;
}

.footer-left h5 {
  color: var(--secondary);
  font-size: 1.25em;
}

.footer-right {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer-right div {
  display: flex;
  color: var(--tertiary);
  align-items: center;
}

.footer-right h5 {
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
}

.footer-right a {
  font-size: 2em;
  text-decoration: none;
  color: var(--tertiary);
  margin: 2rem;
  cursor: pointer;
}

.footer-right a:hover {
  color: black;
}

.footer-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .logo-picture {
    height: 50px;
  }

  .nav-catchymotto span {
    display: none;
  }

  .promo-container {
    padding: 1rem;
  }

  .promo-covid-description {
    font-size: 1rem;
  }

  .signup-container h2 {
    font-size: 1.5rem;
  }

  .signup-form input {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .right-content,
  .left-content {
    width: 100%;
    margin: 0 auto 20px auto;
  }

  .league-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-promo-top {
    width: 100%;
  }

  body {
    padding-bottom: 600px;
  }
  .footer-container {
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 600px;
  }

  .footer-container div {
    margin: 0 auto;
  }
}

@media (max-width: 459px) {
  .logo-picture {
    display: none;
  }
}
