.bg {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/*   font-family: "Open Sans", sans-serif;
    padding: 10px 20px;
    margin: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background: rgba(210, 29, 35, 1);
    color: white;
    font-size: 1.2em;
    text-align: center;
    transition: 0.3s; */
